/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
# CMake POST_BUILD copies FluidSynth prebuilts here for HAP packaging
/entry/src/main/libs
/.appanalyzer